body {
    background-image: url("texture_grass.png");
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    cursor: url(pointer.png) 5 1, pointer;
}

*:active {
    cursor: url(pointer_click.png) 5 1, pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.row>* {
    flex: 1;
}

h2 {
    border-bottom: 2px solid;
}

#input, #output {
    padding: 20px;
}

/* Input */

#input {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 350px;
}

#swatches .swatch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#presets button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#presets button div {
    flex: 1;
    text-align: right;
}

.swatch h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* Output */

#output {
    color: white;
    text-shadow: 0 0 10px black;
}

#preview {
    margin: 50px auto;
    width: 160px;
    height: 160px;
    image-rendering: crisp-edges;
    background-size: 2560px 160px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#preview.heart {
    animation: heart 1600ms steps(16);
}

#gif {
    border: 10px solid white;
    margin: auto;
    display: block;
}

@keyframes heart {
    100% {
        background-position: -2560px 0;
    }
}